@import '../../sass/main.scss';

.housing_content {
    @include margin-head;
    @include text-style;
    margin-top: 20px;
    .housing_desc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        //border: solid 1px red;
        @media screen and (max-width: 700px){
            flex-direction: column;
        }
    }
    .housing_infos {
        width: 70%;
        @media screen and (max-width: 700px){
            width: 100%;
        }
        h1 {
            color: $color-primary;
            font-size: clamp(20px, 4vw, 40px);
            font-weight: normal;
        }
        p {
            color: $color-primary;
            font-size: clamp(13px, 2vw, 20px);
        }
        .housing_tags {
            display: flex;
            align-items: center;
            margin-top: 15px;
        }
    }
    .housing_host {
        margin-top: 15px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media screen and (max-width: 700px){
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        //.host_name {
            //border: solid 1px purple;
        //}
        .host_rating {
            margin-top: 10px;
            @media screen and (max-width: 700px){
                margin-top: 0;
            }
            //border: solid 1px orange;
        }
    }
}