@import '../../sass/main.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: $margin;
    margin-right: $margin;
    border:  1px solid red;
    img {
        height: 100%;
        width: 100%;
        border: 1px solid blue;

    }
}