@import '../../sass/main.scss';


/*    @media screen and (max-width: 700px){
        gap: 20px;
    }
    gap: 45px;
    */
.navbar {
    display: flex;
    align-items: center;
    @include text-style;
    font-weight: 500;
    border: 1px solid green;
    font-size: clamp(12px, 2.5vw, 24px);
    color: $color-primary;
    flex-wrap: nowrap;
    list-style:none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    @media screen and (max-width: 700px){
        gap: 20px;
    }
    gap: 45px;

    li {
        white-space: nowrap;
        list-style-type:none;
        list-style:none;
        &:first-of-type{
            text-decoration: underline;
        }

        a {
            text-decoration: none;
        }
        a:visited {
            color: $color-primary;
            
        }
    }
}