@import '../../../sass/main.scss';

footer {
    @include margin;

    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        @include text-style;
        color: white;

        margin-top: 40px;

    }

  }