@import '../../sass/main.scss';


.banner_home{
    //border: 1px solid red;
    @include margin-head;
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(105, 105, 105, 0.359), rgba(235, 235, 235, 0)),
    url('../../assets/home_cover.png');
    background-position: center;
    background-size: cover;
    overflow : hidden;
    border-radius: 1em;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 700px){
        height: 100px;
        justify-content: flex-start;

    }
    

    p {
        @include text-style;
        color: white;
        //border: 1px solid blue;
        font-size: 40px;
        @media screen and (max-width: 700px){
            font-size: 20px;
            padding-left: 5%;
    
        }

    }
    
}